nav {
    display: flex;
    align-items: center;
    background-color: #edf5f2c2;
    font-family: 'Roboto Slab', serif;
    padding: 1em 2em;
    
    img {
        height: 50px;
        padding-right: 1em;
    }
    
    a {
        color: seagreen;
        font-size: 1.5em;
        padding: 0 1em;
        text-decoration: none;

        &:hover {
            color: black;
        }

        span {
            vertical-align: bottom;
        }
    }
}

main {
    padding: 2em;
}