<nav>
    <img src="assets/elephant.png">
    <a routerLink="/">
        <span class="material-symbols-outlined">
            park
        </span>
        Home
    </a>
    <a routerLink="/spells">
        <span class="material-symbols-outlined">
            eco
        </span>
        Spells
    </a>
    <a routerLink="/spells/conjure-animals">
        <span class="material-symbols-outlined">
            pets
        </span>
        Conjure Animals
    </a>
</nav>
<main>
    <router-outlet></router-outlet>
</main>
